<h1>Listing newsboards</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @newsboards.each do |newsboard| %>
  <tr>
    <td><%= link_to 'Show', newsboard %></td>
    <td><%= link_to 'Edit', edit_newsboard_path(newsboard) %></td>
    <td><%= link_to 'Destroy', newsboard, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Newsboard', new_newsboard_path %>
